
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
    background-color: #E65218;
    margin: 10px;
}

div {
    background-color: #000000;
}

h1 {
    color: #D6D6B1;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    text-align: left;
    width: 50%;
    margin-left: 12%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h5 {
    color: #D6D6B1;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    width: 50%;
    margin-left: 12%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 40px;
} 

p {
    color: #D6D6B1;
    font: Mono;
    font-size: 15px;
    text-align: left;
    width: 43%;
    margin-left: 12%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.initialScreen {
    height: 96vh;
}

